<div class='panel panel-primary'>

    <div class='panel-heading'>{{pageTitle}} </div>

    <div class='panel-body'>

        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-6'> 
                 <!-- 2 way binding have both property and event binding               -->
                 <!-- dom -> component and component -> dom -->
                 <!-- banana in a box [()] -->
                 <!-- you want this to be 2 way as you may have value in the class and user input -->
                    <input type="text"
                           [(ngModel)]='listFilter' />
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table table-striped'
                    *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <!-- event binding -->
                            <button (click)='toggleImage()' 
                                class='btn btn-primary'>
                                {{ showImage ? 'Hide' : 'Show' }} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Pricing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of filteredProducts'>
                        <td>
                            <!-- one-way property binding class to dom -->
                            <img *ngIf='showImage'
                                [src]='product.imageUrl' 
                                [title]='product.productName | uppercase'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'/>
                        </td>                        
                        <td>{{ product.productName}}</td>
                        <td>{{ product.productCode | lowercase | convertToSpaces: '-'}}</td>
                        <td>{{ product.releaseDate}}</td>
                        <!-- display pounds using the currency pipe -->
                        <td>{{ product.price | currency:'GBP':true:'1.2-2'}}</td>
                        <td>{{ product.starRating}}</td>                        
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>