<!-- use width to dictate how many stars should be shown -->
<!-- use property binding to show rating as a number -->
<div class="crop" 
    [style.width.px]="starWidth"    
    [title]="rating">
    <div style="width: 86px">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
</div>