.example-container {
    /* display: flex;
    flex-direction: column; */
    margin: auto;
    width: 40%;
    /* border: 3px solid #cccccc;
    padding: 20px; */
  }    

  .display-block {
    display: block;
  }