<h2>My heroes</h2>

<ul class="heroes">    
    <li *ngFor="let hero of heroes">
        <!-- parameterised URL -->
        <a routerLink="/detail/{{hero.id}}">
            <span class='badge'>{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">Delete</button>   
    </li>
</ul>

<div>
    <label>Hero name:</label>
    <!-- template reference variable #heroName-->
    <input type="text" placeholder="Enter name" #heroName />

    <button (click)="add(heroName.value); heroName.value=''">Add</button>    
</div>